@import './variables.scss';


.navbar {
    background-color: $dark-violet;
    padding-top: 0;
    padding-bottom: 0;
    .container {
        padding-right: 5px;
    }
    .navbar-brand {
        margin-right: 0;
        img {
            width: 135px;
        }
    }
    .nav-item {
        .nav-link {
            color: white;
            font-weight: 400;
        }
        height: 53px;
        display: inline-flex;
        align-items: center;
        &.active {
            background-color: $light-violet;
        }
    }
    .collapse{
        & > a {
            padding-left: 10px;
            padding-right: 10px;
            color: $light-gray;
            &:last-of-type {
                div {
                    background-color: #BE545E;
                    width: 20px;
                    height: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    font-size: 13px;
                }
            }
        }
    }
    .greetings {
        display: inline-flex;
        align-items: center;
        color: $light-gray;
        margin-left: 10px;
    }
    .profile-name {
        .nav-link {
            font-weight: 600;
        }
    }
}

@media (min-width:992px) {
    .navbar {
        .nav-item {
            width: 130px;
            text-align: center;
            .nav-link {
                margin-left: auto;
                margin-right: auto;
            }
        }
        .profile-name {
            width: fit-content;
            .nav-link {
                
                margin-right: 0;
            }
        }
    }
}

@media (max-width:991px) {
    .navbar {
        padding-top: 6px;
        padding-bottom: 6px;
        .nav-item {
            padding-left: 20px;
        }
        .greetings {
            display: none;
        }
    }

    .navbar-collapse {
        position: absolute;
        top: 54px;
        right: 0;
        padding-bottom: 15px;
        width: 150px;
        display: block;
        background-color: $dark-violet;
        z-index: 99;
        height: 100vh;
    }
    .navbar-collapse.collapsing {
        height: auto !important;
        margin-left: 50%;
        left: 50%;
    }
    .navbar-collapse.show {
        right: 0;
    }
    .collapse{
        & > a {
            padding-left: 50px !important;
        }
    }
}



